<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Kyle Jackson Design · Motion, UI/UX, Photography</title>
  <meta name="viewport" content="width=device-width,intial-scale=1">
  <meta name="application-name" content="Your Site Name">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@kyle_jacksonnn" />
  <meta name="twitter:creator" content="@kyle_jacksonnn" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link href="{{site.baseurl}}/favicon.ico" rel="shortcut icon">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
</head>
<body>
  <header id="top">
    <a href="{{site.baseurl}}/"><img class="logo left island-1-2" src="{{site.baseurl}}/images/logo.svg" alt="Logo"/></a>
    <nav class="nav1" id="nav" role="navigation">
      <ul>
        <li><a class="topnav inline-block pad-t-1-2 pad-b-1-2 " href="{{site.baseurl}}/motion">Motion Design</a></li>
        <li><a class="topnav inline-block pad-t-1-2 pad-b-1-2" href="{{site.baseurl}}/uiux">UI/UX Design</a></li>
        <li><a class="topnav inline-block pad-t-1-2 pad-b-1-2" href="{{site.baseurl}}/photography">Photography</a></li>
        <li><a class="topnav inline-block pad-t-1-2 pad-b-1-2" href="{{site.baseurl}}/about">About</a></li>
      </ul>
    </nav>
  </header>
  <main>

    {{content}}

    <footer>
      <h5 class="black footerh5">Get in Touch</h5>
      <a class="mail" itemprop="email" href="mailto:kyle_m_jackson@outlook.com">kyle_m_jackson@outlook.com</a>
      <nav>
        <ul class="nav  pad-t-1-2">
          <li><a class="footbut" href="https://www.behance.net/kyle_jackson"><img class="svg" src="{{site.baseurl}}/images/behance.svg" alt="An svg of the behance logo"></a></li>
          <li><a class="footbut" href="https://ca.linkedin.com/pub/kyle-jackson/105/8a3/40a"><img class="svg" src="{{site.baseurl}}/images/linkdin.svg" alt="An svg of the linked in logo"></a></li>
          <li><a class="footbut" href="https://instagram.com/_kylejackson_"><img class="svg" src="{{site.baseurl}}/images/instagram.svg" alt="An svg of the instagram logo"></a></li>
        </ul>
      </nav>
      <strong itemprop"name" class="copyright">© 2016 Kyle Jackson •  </strong>
      <a class="mail" href="#top">Back to top</a>
    </footer>
  </main>
</body>
</html>
